<head>
  <link rel="stylesheet" type="text/css" href="select.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <script>
    const logout = () => {window.location.href="http://localhost:3000/logout"};
    const movecustcar = () => {window.location.href="http://localhost:3000/custcar"};
    const movecusttru = () => {window.location.href="http://localhost:3000/custtru"};
    const movecustsuv = () => {window.location.href="http://localhost:3000/custsuv"};
    const movecustres = () => {window.location.href="http://localhost:3000/custres"};
    const movecustveh = () => {window.location.href="http://localhost:3000/custveh"};
  </script>
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img
        src="./img/inhaLogo.png"
        alt="INHA CAR DEAL"
      /></div>
    <span class="logo-text">사용자</span>
  </div>

  <div class="header-info">
    <span class="header-info_title">인하 중고차 사용자 홈페이지입니다</span>
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="side-frame">
      <div class="side-frame_id">
        <div class="userinfo">{{user}}</div>
        <button class="logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <div class="side-menu">
      <div class="side-menu_list" onclick="movecustcar()">
        <span>CAR 구매 예약하기</span>
      </div>
      <div class="side-menu_list" onclick="movecusttru()">
        <span>TRUCK 구매 예약하기</span>
      </div>
      <div class="side-menu_list" onclick="movecustsuv()">
        <span>SUV 구매 예약하기</span>
      </div>
      <div class="side-menu_list" onclick="movecustres()">
        <span>예약 조회/취소</span>
      </div>
      <div class="side-menu_list" onclick="movecustveh()">
        <span>MY Page, 구매 확정</span>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <div class="main-top_table">
        <h1>{{title}}</h1>
        <h2>MY CAR</h2>
            <table>
                <tr>
                    <td>번호</td>
                    <td>가격</td>
                    <td>모델명</td>
                    <td>엔진 사이즈</td>
                    <td>판매 날짜</td>
                    <td>딜러</td>
                    <td>소비자</td>
                </tr>
                {{#each car}}
                <form method="post">
                <tr>
                    <td>{{Vin}}</td>
                    <td>{{Price}}</td>
                    <td>{{Model}}</td>
                    <td>{{Engine_size}}</td>
                    <td>{{Sale_date}}</td>                    
                    <td>{{SSid}}</td>
                    <td>{{CSsn}}</td>                    
                </tr>
                </form>
                {{/each}}
            </table>
            <h2>MY TRUCK</h2>
            <table>
                <tr>
                    <td>번호</td>
                    <td>가격</td>
                    <td>모델명</td>
                    <td>무게</td>
                    <td>판매 날짜</td>
                    <td>딜러</td>
                    <td>소비자</td>
                </tr>
                {{#each truck}}
                <form method="post">
                <tr>
                    <td>{{Vin}}</td>
                    <td>{{Price}}</td>
                    <td>{{Model}}</td>
                    <td>{{Tonnage}}</td>
                    <td>{{Sale_date}}</td>                    
                    <td>{{SSid}}</td>
                    <td>{{CSsn}}</td>                    
                </tr>
                </form>
                {{/each}}
            </table>
            <h2>MY SUV</h2>
            <table>
                <tr>
                    <td>번호</td>
                    <td>가격</td>
                    <td>모델명</td>
                    <td>좌석수</td>
                    <td>판매 날짜</td>
                    <td>딜러</td>
                    <td>소비자</td>
                </tr>
                {{#each saletruck}}
                <form method="post">
                <tr>
                    <td>{{Vin}}</td>
                    <td>{{Price}}</td>
                    <td>{{Model}}</td>
                    <td>{{No_seats}}</td>
                    <td>{{Sale_date}}</td>                    
                    <td>{{SSid}}</td>
                    <td>{{CSsn}}</td>                   
                </tr>
                </form>
                {{/each}}
            </table>
      </div>
    </div>
  </div>
</div>